# Mediolano App Environment Variables
NEXT_PUBLIC_APP_URL=https://ip.mediolano.app

#MIP Collections Protocol
NEXT_PUBLIC_COLLECTION_CONTRACT_ADDRESS=0x03990b145bec2bb3d3143e7cb3b8a89a72272cf562d2b0278f38e3357cbc976f
NEXT_PUBLIC_COLLECTION_CONTRACT_HASH=0x06ea42dff5fe3670a7444829602dfd5417afc4b5a3191cfb4e660fab47ae922d
COLLECTION_CONTRACT_ADDRESS=0x03990b145bec2bb3d3143e7cb3b8a89a72272cf562d2b0278f38e3357cbc976f

# Contract Addresses (Sepolia Testnet)
NEXT_PUBLIC_USER_SETTINGS_CONTRACT_ADDRESS=0x07c8422f0957f72bf3ced2911be762607ab0a52bc18d9a5de13a55ea0a593c13

# Starknet Configuration
NEXT_PUBLIC_EXPLORER_URL=https://sepolia.voyager.online
NEXT_PUBLIC_RPC_URL=https://rpc.sepolia.org
NEXT_PUBLIC_ALCHEMY_API_KEY=
ALCHEMY_API_KEY==
ALCHEMY_URL=

# AVNU Paymaster Configuration
NEXT_PUBLIC_AVNU_PAYMASTER_API_KEY=
NEXT_PUBLIC_ENABLE_GAS_SPONSORSHIP=false
NEXT_PUBLIC_SPONSOR_MINTING=false
NEXT_PUBLIC_SPONSOR_TRANSFERS=false
NEXT_PUBLIC_SPONSOR_MARKETPLACE=false
NEXT_PUBLIC_MAX_SPONSORED_AMOUNT=1000000000000000

# Pinata IPFS Configuration
NEXT_PUBLIC_GATEWAY_URL=https://ipfs.io/ipfs
PINATA_JWT=
PINATA_SECRET=
PINATA_API_KEY=
NEXT_PUBLIC_PINATA_HOST=
PINATA_HOST=

#Argent Invisible SDK
NEXT_PUBLIC_ARGENT_CLIENT_ID=
NEXT_PUBLIC_ARGENT_CLIENT_SECRET=
NEXT_PUBLIC_ARGENT_REDIRECT_URI=
NEXT_PUBLIC_ARGENT_ENVIRONMENT=production
NEXT_PUBLIC_ARGENT_API_URL=https://api.argent.xyz

# Email Configuration
SMTP_PASS=
SMTP_USER=
SMTP_PORT=
SMTP_HOST=
REPORT_TO_EMAIL=
REPORT_FROM_EMAIL=